@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* page top */
.compete-title{
    font-family: 'Uncial Antiqua', cursive;
    color: var(--green);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.compete-intro {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Registration Section */
.registration {
    background-color: #F2F2F2;
    
}

.registration-title {
    font-family: 'Lato', sans-serif;
    color: var(--green);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.registration-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Form Styling */
.form-label {
    font-family: 'Lato', sans-serif;
    color: #626262;
    font-weight: 500;
}

.form-control {
    font-family: 'Lato', sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-control:focus {
    border-color: var(--green);
    box-shadow: 0 0 0 0.2rem rgba(47, 79, 79, 0.25);
}

.form-row{
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn-signup{
    background-color: #B35422;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 10px 60px;
    font-size: 1.1rem;
    font-weight: 500;
}

.btn-signup:hover{
    background-color: #9a4720;
    color: white;
}

/* create an account */
.auth0Reg{
    background-color: rgb(238, 238, 238);
    font-family: 'Lato', sans-serif;
}

.btn-register{
    background-color: var(--green);
    color: white;
    
    padding: 10px 60px;
    font-size: 1.1rem;
    font-weight: 500;
}
.btn-register:hover{
    background-color: #243c3c;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 10px 60px;
    font-size: 1.1rem;
    font-weight: 500;
}

/* registration complete */
.reg-success{
    background-color: var(--green);
    color: white;

}
.btn-login-small {
  background-color: #b35422;
  color: white;
  padding: 6px 20px;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-size: .9rem;
}

.btn-login-small:hover {
  background-color: #9a4720;
}
