@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Uncial+Antiqua&display=swap');

/* ...........hero............ */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.45);
}



.hero-text {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: white;
    width: 100%;
    font-family: 'Uncial Antiqua', serif;
}

.hero-text h1 {
    font-size: 5rem;
    margin: 0;
}

/* ............about............ */
.about-title{
    font-family: 'Uncial Antiqua', cursive;
    color: var(--green);
    font-size: 3rem;
}

.about-container{
    background-color: white;
}
.about-text{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

.about-btn {
    background-color: var(--green);
    color: white;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    transition: all 0.3 ease;
}

.about-btn:hover{
    background-color: #1a3a3a;
    color: white;
    transform: translateY(-2px);
}

